

<title>@ViewBag.Title - LIT</title>
<link href="~/Content/images/low poly wolf face.jpg" rel="icon" style="border-radius: 18px; flex-shrink: 0; height: 38px; object-fit: contain; width: 38px;">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="~/css/login.css" rel="stylesheet" />
@RenderBody()






@RenderSection("scripts", required: false)
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}