@{
    COURSE_CNTT.Models.ApplicationUser user = new COURSE_CNTT.Models.ApplicationUser();
    if (Session["acc"] != null)
    {
        user = Session["acc"] as COURSE_CNTT.Models.ApplicationUser;

    }
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            @if (user.Anh == null)
            {
                <img src="https://t4.ftcdn.net/jpg/05/49/98/39/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg" style="border-radius: 50%;" />
            }
            else
            {
                <img src="@user.Anh.ToString()" class="brand-image img-circle elevation-3" style="float: left; line-height: .8; margin-right: .5rem; margin-top: -3px; max-height: 33px; width: 35px; object-fit: cover; " alt="User Image">
                @*<img src="@user.Anh.ToString()" style="border-radius: 50%;" />*@

            }

        </div>
        <div class="info">
            <a href="/admin/ManagerAccount/profile" class="d-block">@User.Identity.Name</a>
        </div>
    </div>

    <!-- SidebarSearch Form -->
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            @*<li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Danh mục
                </p>
            </a>

        </li>*@
            <li class="nav-item">
                <a href="/admin/Role" class="nav-link">
                    <i class="nav-icon fas fa-lock"></i>
                    <p>
                        Phân quyền
                    </p>
                </a>
            </li>
            <!--<li class="nav-item">
    <a href="../widgets.html" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Tin tức-->
            @*<span class="right badge badge-danger">New</span>*@
            <!--</p>
        </a>
    </li>-->
            <li class="nav-item">
                <a href="/admin/ManagerBLOG" class="nav-link">
                    <i class="nav-icon far fa-newspaper"></i>
                    <p>
                        Bài viết
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-user"></i>
                    <p>
                        Tài khoản
                        <i class="right fas fa-angle-left" style="margin-top: 3px;"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/ManagerAccount" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            <p>Tài khoản User</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/ManagerAccount/listadmin" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            <p>Tài khoản Nhân viên</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý khóa học
                        <i class="right fas fa-angle-left" style="margin-top: 3px;"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/Videos" class="nav-link">
                            <i class="nav-icon fas fa-film"></i>
                            <p>Video</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/Courses" class="nav-link">
                            <i class="nav-icon fas fa-folder-open"></i>
                            <p>Khóa học</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/admin/CTKHOASVs" class="nav-link">
                    <i class="nav-icon far fa-list-alt"></i>
                    
                    <p>Lộ trình</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/HOCPHANs" class="nav-link">
                    <i class="nav-icon fas fa-photo-video"></i>
                    <p>Năm học</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:document.getElementById('logOffForm').submit()" class="nav-link">
                    <i class="nav-icon fas fa-sign-out-alt"></i>
                    <p>
                        Đăng xuất
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->

@if (Request.IsAuthenticated)
{
    <div style="display:none">
        @using (Html.BeginForm("LogOff", "ManagerAccount", FormMethod.Post, new { @id = "logOffForm" }))
        {
            @Html.AntiForgeryToken()
        }
    </div>
}
